<h3 style="color:blue">
  {{ titulo }}
</h3>

<strong>Empleado estrella:</strong>
<br>
<br>

<div *ngIf = "trabajadorExterno == true">
  <button (click)="cambiarExterno(false)">Mostrar Empleado</button>
  <ul>
    <li>Nombre: {{trabajadores[0].nombre}}</li>
    <li>Edad: {{trabajadores[0].edad}}</li>
    <li>Cargo: {{trabajadores[0].cargo}}</li>
    <li *ngIf="trabajadores[0].contratado == true">Contratado: Está contratado</li>
    <li *ngIf="trabajadores[0].contratado == false">Contratado: No está contratado</li>
  </ul>
</div>


<div *ngIf = "trabajadorExterno == false">
  <button (click)="cambiarExterno(true)">Mostrar Trabajador</button>
  <ul>
    <li>Nombre: {{empleado.nombre}}</li>
    <li>Edad: {{empleado.edad}}</li>
    <li>Cargo: {{empleado.cargo}}</li>
    <li *ngIf="empleado.contratado == true">Contratado: Está contratado</li>
    <li *ngIf="empleado.contratado == false">Contratado: No está contratado</li>
  </ul>
</div>

<hr>

<h3>Listado de trabajadores</h3>
<ul>
  <li *ngFor="let trabajador of trabajadores; let i = index">
    <strong>Empleado {{i+1}}:</strong>
    <ul>
      <li>Nombre: {{trabajador.nombre}}</li>
      <li>Edad: {{trabajador.edad}}</li>
      <li>Cargo: {{trabajador.cargo}}</li>
      <li *ngIf="trabajador.contratado == true">Contratado: Está contratado</li>
      <li *ngIf="trabajador.contratado == false">Contratado: No está contratado</li>
    </ul>
  </li>
</ul>

<hr>

<h3>Colores switch</h3>
<ul [ngSwitch]="color">
  <li *ngSwitchCase="'red'" [ngStyle]="{
    background:color,
    color:'white',
    padding:'20px'
  }">
    Es de color ROJO
  </li>
  <li *ngSwitchCase="'green'" [ngStyle]="{
    background:color,
    color:'white',
    padding:'20px'
  }">
    Es de color VERDE
  </li>
  <li *ngSwitchCase="'blue'" [ngStyle]="{
    background:color,
    color:'white',
    padding:'20px'
  }">
    Es de color AZUL
  </li>
</ul>

<hr>

<h3>Selector de colores:</h3>
<button (click)="logColorSeleccionado()" >MOSTRAR LOG</button>
<input type="text" [(ngModel)]="colorSeleccionado" >
<br>
<select name="colorS" id="colorS" [(ngModel)]="colorSeleccionado">
  <option value="" >...</option>
  <option value="green" [ngStyle]="{'background-color':'green', 'color':'white'}">Verde</option>
  <option value="blue" [ngStyle]="{'background-color':'blue', 'color':'white'}">Azul</option>
  <option value="pink" [ngStyle]="{'background-color':'pink', 'color':'white'}">Rosado</option>
  <option value="red" [ngStyle]="{'background-color':'red', 'color':'white'}">Rojo</option>
  <option value="black" [ngStyle]="{'background-color':'black', 'color':'white'}">Negro</option>
</select>
<pre>
  <strong>Color elegido:</strong>
  {{colorSeleccionado}}
</pre>
<div [ngStyle]="{
  'background':colorSeleccionado,
  'width':'200px',
  'height':'200px',
  'float':'right',
  'margin-right': '70%'
}"></div>
<div style="clear: both"></div>